body{
  margin:0;
  font-family:Tahoma;
  background:#0b1020;
  color:#fff;
}

.nav{
  display:flex;
  gap:12px;
  padding:12px;
  background:#12183a;
  justify-content:center;
}
.nav a{
  color:#bbb;
  text-decoration:none;
}
.nav a.active{color:#00e0ff}

.container{
  max-width:600px;
  margin:auto;
  padding:16px;
}

.card{
  background:#12183a;
  padding:20px;
  border-radius:16px;
}

.login-card{
  max-width:360px;
  margin:20px auto;
  background:#12183a;
  padding:20px;
  border-radius:16px;
  text-align:center;
}
.avatar{
  font-size:48px;
  margin-bottom:10px;
}
.login-card input{
  width:100%;
  padding:10px;
  margin:6px 0;
  border-radius:10px;
  border:none;
}
.login-card button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#00e0ff;
  font-weight:bold;
}
.stay{
  display:block;
  margin-top:8px;
  font-size:12px;
  color:#aaa;
}

.answers button{
  padding:10px 14px;
  margin:6px;
}
.start{
  margin-top:10px;
  padding:10px;
}
.points{
  margin-top:10px;
}
